.briefcase{
  &__inner{
    @include min-media(lg){
      display: flex;
      margin-bottom: 100px;
    }
  }
  &__item{
    margin-bottom: 80px;
    @include min-media(lg){
      flex: 0 0 50%;
      margin-bottom: 0;
    }
  }
  &__item:nth-child(1){
    @include min-media(lg){
      padding-right: 140px;
    }
  }
  &__photo{
    position: relative;
    min-height: 320px;
    margin: 0 -20px;
    @include min-media(lg){
      min-height: 660px;
      margin: 0;
    }
    &:before{
      content: '';
      position: absolute;
      width: 90%;
      height: 100%;
      background: rgba(254, 112, 28, 0.15);
      right: 0;
      top: 15px;
      @include min-media(lg){
        right: 30px;
        top: -30px;
        width: 100%;
      }

    }
    &--img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
}