.sidebar{
  padding: 20px 20px 30px 20px;
  &__title{
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in;
     &:hover {
      transition: all .3s ease-in;
      color: #FE701C;
      cursor: pointer;
       opacity: 1;
    }
    &--name {
      font-weight: 300;
    }
    &--name{
      flex: 0 0 50%;
    }

    &--qty  {
      opacity: .35;
      font-weight: 300;
    }
  }
  &__item:not(:last-child){
    margin-bottom: 25px;
  }
}