.text-block{
  &__inner{
    @include min-media(lg){
      display: flex;
    }
  }
  &__title{
    margin-bottom: 10px;
    @include min-media(lg){
      flex: 0 0 50%;
      margin-bottom: 0;
    }
  }
}